<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
</head>
<body>
    <h1>Hello Node JS</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore pariatur placeat impedit sapiente officia perferendis dolorum alias fugit, quaerat nostrum recusandae quae optio doloremque ratione nulla ducimus laborum natus repudiandae!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae doloribus repudiandae placeat dolor qui, quidem deserunt consequuntur corrupti odit quasi nihil eligendi nisi nemo facilis, similique fugiat, quaerat voluptate excepturi.
    Atque accusantium commodi veritatis minus? Facere, beatae voluptate. Enim impedit labore explicabo a vitae accusamus necessitatibus voluptatibus quidem quia recusandae saepe maiores reiciendis quibusdam tempora laudantium, odit sapiente officia. Tenetur.</p>
    <a href="/about"> About As</a>
    <a href="/user"> User</a>
</body>
</html>